

.form{
  position: fixed;
  bottom:20px;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  gap:10px;
  :focus{
    outline:none
  }

  .input{
    border-radius: 20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    width: 500px;
    
  }
  .button{
    border-radius: 20px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:20px;
    padding-right:20px;
    width: 100px;
    background-color:rgb(137, 137, 137);
    color:inherit;
    cursor: pointer;
  }
}