.chat-room{
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 5px;
  .chat{
    background-color:rgb(137, 137, 137);
    border-radius: 10px;
    border-bottom-right-radius: 0;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    color:inherit;
  }
}